extends layout

block content
    h1 Air Fare Calculator
    form(action='/' method='post')
      div
      #maincontainer
        div
        #departure
          label Departure City
            <br>
            select(name='departurecity')
              option(value="chicago") Chicago
              option(value='losangeles') Los Angeles
              option(value='newyork') New York
        div
        #arrival
          label Arrival City
            <br>
            select(name='arrivalcity')
              option(value='chicago') Chicago
              option(value='losangeles') Los Angeles
              option(value='newyork') New York
        div
        #checked
          label Checked bags
            input(type="number" name='bags' min='0')
        div
        #class
          label Class
            <br>
            select(name='upgrade')
              option(value='0') &nbsp
              option(value='200') Business (+ $200)
              option(value='500') First (+ $500)
        
        div
        #wifi
          
          label Wifi
            input(type='checkbox' value='12' name='wifi')
        
        div
        #discount
          label Discount Code
            
            input(type='text' name='discount')
        div 
        #submit
          
          button(type='submit') Calculate Price
          <br>
          Your Price is $ #{price}
              
